.watch-page{
    display: flex;
    margin-top: -1.5rem;
    background-color: rgb(15, 14, 14);

        >.watch-video-card{
            height: vh;
            width: 62vw;
            margin: 2rem;
        }

    >.similar-videos{
        flex: 1.4;
        height: 100vh;
        margin-left: 1rem;
        overflow-y:scroll;
        // background-color: green;
    }
}

// media query for screen 1441 max

@media screen and (max-width: 1441px) {
    .watch-page{
        display: flex;
        >.watch-video-card{
            height: 350px;
            width: 62vw;
            margin-top: 10rem;
                
                >.iframe{
                    width: 55rem;
                    height: 30rem;
                }
            }

            >.similar-videos{
                flex: 1.4;
                height: 100vh;
                width: 86vw;
                // background-color: blueviolet;
                overflow-y:scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }

}

// media query for screen 1025 max
@media screen and (max-width: 1025px) {
    .watch-page{
        display: block;
        >.watch-video-card{
            height: 350px;
                width: 62vw;
                margin: 0rem 4rem;
                
                >.iframe{
                    width: 55rem;
                    height: 30rem;
                }
            }

            >.similar-videos{
                flex: 1.4;
                height: 100vh;
                width: 86vw;
                // background-color: blueviolet;
                margin-top: 8.5rem;
                margin-left: 4rem;
                overflow-y:scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }

}


// media query for screen 912 max
@media screen and (max-width: 913px) {
    .watch-page{
        display: block;
        >.watch-video-card{
            height: 350px;
            width: 65vw;
            margin-left: 0rem;
                >.iframe{
                    width: 57rem;
                    height: 30rem;
                }
            }
            >.similar-videos{
                margin-left: 0rem;

            }
        }
}
// media query for screen 820 max
@media screen and (max-width: 821px) {
    .watch-page{
        display: block;
        >.watch-video-card{
            height: 350px;
            width: 65vw;
            margin-left: 0rem;
                >.iframe{
                    width: 50rem;
                    height: 30rem;
                }
            }
            >.similar-videos{
                margin-left: 0rem;

            }
        }
}
// media query for screen 768 max

@media screen and (max-width: 769px) {
    .watch-page{
        display: block;
        >.watch-video-card{
            height: 300px;
                width: 62vw;
                margin: 0rem 0rem;
                
                >.iframe{
                    width: 48rem;
                    height: 20rem;
                }
            }

            >.similar-videos{
                flex: 1.4;
                height: 100vh;
                width: 86vw;
                margin-top: 1rem;
                margin-left: 0rem;
            }
        }

}


// media query for screen 540 max
@media screen and (max-width: 541px) {
    .watch-page{
        display: block;
        >.watch-video-card{
            height: 180px;
            width: 50vw;
            margin-left: 0rem;
                >.iframe{
                    width: 34rem;
                    height: 20rem;
                }
            }
            >.similar-videos{
                flex: 1.4;
                height: 100vh;
                width: 86vw;
                margin-top: 8.5rem;
                margin-left: 0rem;

            }
        }
}

// media query for screen 426 max
@media screen and (max-width: 426px) {
    .watch-page{
        display: block;
        >.watch-video-card{
            height: 250px;
                width: 62vw;
                margin-left: -0.4rem;
                
                >.iframe{
                    width: 25.5rem;
                    height: 15rem;
                }
            }

            >.similar-videos{
                height: 100vh;
                width: 100vw;;
                margin-left: 0.2rem;
                margin-top: 0rem;
                overflow-y:scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }

}


// media query for screen 375 max
@media screen and (max-width: 376px) {
    .watch-page{
        display: block;
        >.watch-video-card{
            height: 250px;
            width: 100vw;
                margin-left: -0.4rem;
                
                >.iframe{
                    width: 23.7rem;
                    height: 15rem;
                }
            }

            >.similar-videos{
                height: 100vh;
                width: 100vw;
                margin-left: 0.2rem;
                margin-top: 0rem;
                overflow-y:scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }

}
// media query for screen 320 max
@media screen and (max-width: 321px) {
    .watch-page{
        display: block;
        >.watch-video-card{
                height: 250px;
                width: 100vw;
                margin-left: -0.4rem;
                
                >.iframe{
                    width: 20.4rem;
                    height: 12rem;
                }
                >.video-info{

                }
            }

            >.similar-videos{
                height: 100vh;
                width: 100vw;
                margin-left: 0.2rem;
                margin-top: -2.8rem;
                overflow-y:scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }

}
// media query for screen 280 max
@media screen and (max-width: 281px) {
    .watch-page{
        display: block;
        >.watch-video-card{
                height: 250px;
                width: 100vw;
                margin-left: -0.4rem;
                
                >.iframe{
                    width: 18rem;
                    height: 12rem;
                }
                >.video-info{

                }
            }

            >.similar-videos{
                height: 100vh;
                width: 100vw;
                margin-left: 0.2rem;
                margin-top: -2.8rem;
                overflow-y:scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }

}